<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/animations.css">
        <link rel="stylesheet" href="css/main2.css">
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>

        <script type="text/template" id="temp_day_cell_active">
            <div class="dayCell" data-day="<%= day_number %>"><%= day_number %></div>
        </script>
        <script type="text/template" id="temp_day_cell_disable">
            <div class="dayCell disabled"></div>
        </script>        

        <script type="text/template" id="temp_summarybox">

            <div class="bookingStepWidget" id="calendarDisplay">
                <span class="dayCalDisplay"><%= display_day %></span>
                <span class="dateCalDisplay"><%= dateDay %></span>
                <span class="monthCalDisplay"><%= display_month %></span>
            </div>
            <div class="bookingStepWidget" id="personDisplay">
                <span class="dateCalDisplay"><%= employee %></span>
            </div>            
            <div class="bookingStepWidget" id="hourDisplay">
                <div id="clock">
                    <div id="center"></div>
                    <div data-hour="10" id="hour"></div>
                    <div data-minute="30" id="minute"></div>
                    <span  class="monthCalDisplay"><%= time_display %></span>
                </div>
            </div>
            <div class="bookingStepWidget" id="serviceDisplay">
                
            </div>                        

        </script>
 
    </head>
    <body>
                                




        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

       <section class="page-section" id="booking-engine">
            <section id="summary-box">
               
            </section>

            <section class="booking-step current" id="dates">
                <h2>Dates</h2>
                

            </section>

            <section class="booking-step" id="people">
                <h2>People Available</h2>
                <a href="#" class="person" data-name="susie">Susie</a>
                <a href="#" class="person" data-name="mary">Mary</a>
                <a href="#" class="person" data-name="jackie">Jackie</a>
                <a href="#" class="person" data-name="lathurna">Lathurna</a>                                                
            </section>            

            <section class="booking-step" id="hours">
                <h2>Hours</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </section>

            <section class="booking-step" id="service">
                <h2>Service</h2>
                
            </section>

            <section class="booking-step" id="register">
                <h2>Register</h2>

            </section>
       </section>

        <section class="page-section"  id="about">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </section>

       <section class="page-section"  id="intro">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </section>

        <!-- Add your site or application content here -->
        
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/underscore/underscore.js"></script>
        <script src="bower_components/backbone/backbone.js"></script>
        <Script src="bower_components/momentjs/moment.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
        <!-- <script src="js/prefixfree.js"></script> -->
        <script src="js/main2.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>

